.notMyMessage {
  font-size: 24px;
  font-weight: 200;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
  background-color: rgba(255, 255, 255);
}
.myMessage {
  padding: 5px;
  background-color: rgba(248, 180, 8, 0.315);
  border-radius: 5px;
  font-size: 24px;
  font-weight: 200;
  width: fit-content;
}
.message-line {
  padding: 5px;
}
.conversation-history {
  /* background-color: #efece7; */
  opacity: 1;
  background-image: radial-gradient(#914a10 2px, transparent 2px),
    radial-gradient(#326b11 2px, #ffffff 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

.user img {
  height: 25px;
}
