.notMyMessage {
  background-color: blue;
}
.myMessage {
  padding: 5px;
  background-color: rgba(184, 135, 11, 0.315);
  border-radius: 5px;
}
.message-line {
  padding: 5px;
}
.conversation-history {
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(#914a10 2px, transparent 2px),
    radial-gradient(#326b11 2px, #ffffff 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}
