<mat-divider></mat-divider>
<mat-list dense class="conversation-history mat-typography">
  <ul>
    <li class="message-line" *ngFor="let message of messages">
      <div class="user">
        {{ message.user }}
        <br />
        {{ message.timeStamp | date: "medium" }}
        <p></p>
      </div>
      <div
        class="myMessage right"
        *ngIf="message.user == user; else anotherUser"
      >
        <p>{{ message.message }}</p>
      </div>
      <ng-template class="notMyMessage left" #anotherUser>
        <p>{{ message.message }}</p>
      </ng-template>
      <p></p>
    </li>
  </ul>
</mat-list>
<div class="conversation-input">
  <mat-divider></mat-divider>
  <mat-form-field class="full-width">
    <input
      matInput
      placeholder="Start chatting..."
      name="text"
      [(ngModel)]="text"
    />
    <mat-icon matSuffix (click)="sendMessage()">send</mat-icon>
  </mat-form-field>
</div>
