<mat-divider></mat-divider>
<mat-list dense class="conversation-history mat-typography">
  <div class="message-line" *ngFor="let message of messages">
    <div class="user">
      {{ message.user }}
      <br />
      {{ message.timeStamp | date: "medium" }}
      <p></p>
    </div>
    <div class="myMessage" *ngIf="message.user == user; else anotherUser">
      <h1>{{ message.message }}</h1>
    </div>
    <ng-template #anotherUser>
      <p>{{ message.message }}</p>
    </ng-template>
    <p></p>
  </div>
</mat-list>
<div class="conversation-input">
  <mat-divider></mat-divider>
  <mat-form-field class="full-width">
    <input
      matInput
      placeholder="Start chatting..."
      name="text"
      [(ngModel)]="text"
    />
    <mat-icon matSuffix>send</mat-icon>
  </mat-form-field>
  <button (click)="sendMessage()">Send</button>
</div>

<p>{{ text }}</p>
