<div class="header">
  <p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Chat with friends</span>
        <span class="spacer"></span>
        <button mat-button class="icon" aria-label="Login">
          <mat-icon>login</mat-icon>
          <button
            mat-icon-button
            class="icon favorite-icon"
            aria-label="Example icon-button with heart icon"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            mat-icon-button
            class="icon"
            aria-label="Example icon-button with share icon"
          >
            <mat-icon>share</mat-icon>
          </button>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
</div>
