<div class="header">
  <p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Chat with friends</span>
        <span class="spacer"></span>
        <button
          *ngIf="!(IsLoggedIn$ | async); else logOut"
          (click)="logInWithGoogle()"
          mat-button
          class="icon"
          aria-label="Login"
        >
          Login
          <mat-icon>login</mat-icon>
        </button>
        <ng-template #logOut>
          <button
            (click)="singOut()"
            mat-button
            class="icon"
            aria-label="Login"
          >
            Sing Out
            <mat-icon>logout</mat-icon>
          </button>
        </ng-template>

        <!-- <button
          mat-icon-button
          class="icon favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <button
          mat-icon-button
          class="icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>share</mat-icon>
        </button> -->
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
</div>
